* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
    display: grid;
}

#grid {
    background-color: rebeccapurple;
}
#options {
    background-color: steelblue;
}

@media all and (orientation: landscape) {
    
    body {
        background-color: red;
        grid-template-columns: 1fr auto;
    }

    #numberpad {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(3,auto);
    }

}

@media all and (orientation: portrait) {
    
    body {
        background-color: green;
        grid-template-rows: 1fr auto;
    }

    #numberpad {
        display: grid;
        grid-template-columns: repeat(9,auto);
    }

}

#grid {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
}
.cell:after {
    content: attr(box-cell);
}